.git/
**/*.tar.zst
**/*.log*
**/__pycache__
**/.ruff_cache
**/Dockerfile*
**/.gitignore
**/Makefile
**/node_modules
**/.svelte-kit
**/zarf-sbom/
**/zarf-*.tar.zst
**/.venv
**/.env
**/.env.*
**/.model
**/build
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.logs
.bundles/
website/
logs/

